nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: aliceblue;
    top: 0%;
    z-index: 10;
}
nav h1{
    text-transform: uppercase;
}
nav h1 main{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
main a{
    color: black;
    margin: 1rem;
}
main a:hover{
    color: rgb(28, 28, 28);
    text-decoration: underline;
}